:root {
  
  --color-dark1: #272727;

  
}

#root {
  
  background-color: #212529;
  font-family:  'Ubuntu', cursive, serif;
}

body {
  height: 100vh;
}

.carousel {
  border: 1px solid #ddd;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.carousel img {
  border-radius: 15px;
}